<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Construction MGMT</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/app.js"></script>
=======
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		<style>
				body        { padding-top:80px; }
		</style>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>User App</title>
>>>>>>> 69e21eb734b2f7f613836e7f6195a947bf5a0e45
	</head>
	<body>
		{{{ body }}}
	</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 69e21eb734b2f7f613836e7f6195a947bf5a0e45
