<nav class="navbar navbar-default navbar-top navbar-fixed-top navbar-expand-lg">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <a id="logo-text" class="navbar-brand disabled" href="#">
            <img id="logo" src="/assets/img/construction-hat.png" width="80" height="80" class="d-inline-block align-top" alt="CONSTRUCTION HAT LOGO"> CONSTRUCTION MGMT
        </a>
        <ul class="navbar-nav ml-auto top-link">
            <li class="nav-item">
                <span id="navbar-user-name" class="navbar-text" id="username" key={{user.id}}>{{user.username}}</span>
            </li>
            <li class="nav-item">
                <a class="header-link nav-link" href="#">
                    <i class="fa fa-inbox" aria-hidden="true"></i> INBOX
                    <span class="badge badge-light">{{myTaskCount}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="header-link nav-link" href="/logout">LOG-OUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container py-4">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav navbar-light">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title text-center">NAVIGATION</h4>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" href="/">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" data-toggle="modal" data-target="#newIssueModal" href="#">ADD NEW ISSUE
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                ALL ISSUES
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Issue 1</a>
                                <a class="dropdown-item" href="#">Issue 2</a>
                                <a class="dropdown-item" href="#">Issue 3</a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" href="#">FILTER</a>
                            <form>
                                <div class="filter-form form-group">
                                    <label for="status-label">STATUS</label>
                                    <input type="text">
                                    <label for="ID-label">ID</label>
                                    <input type="text">
                                    <label for="Assigned-to-label">ASSIGNED TO</label>
                                    <input type="text">
                                    <button type="submit" class="btn btn-warning">SUBMIT</button>
                                </div>
                            </form>
                        </li>

                    </div>
                </div>
            </ul>
        </div>

        <div class="row" style="height: 200px">
            <div class="col-sm col-12" style="height: 200px">
                <div id="graph1" style="height: 100%"></div>
            </div>
            <div class="col-sm col-12" style="height: 200px">
                <div id="graph2" style="height: 100%"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-12" style="height: 200px">
                <div id="graph3" style="height: 100%"></div>
            </div>
            <div class="col-sm col-12" style="height: 200px">
                <div id="graph4" style="height: 100%"></div>
            </div>
        </div>

    </div>

</div>

<div id="newIssueModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD NEW ISSUE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group modal-form">
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                    Project
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Bank Tower</a>
                                    <a class="dropdown-item" href="#">Longhorn Arena</a>
                                </div>
                            </div>
                            <div class="">
                                <label for="description-label">Add New Project</label>
                                <input type="text">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="description-label">Description</label>
                            <textarea type="text"></textarea>
                        </div>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Status
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Open</a>
                                    <a class="dropdown-item" href="#">Closed</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Assigned To
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Chen</a>
                                    <a class="dropdown-item" href="#">Jon</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="due-date-input" class="col-form-label">Due</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2011-08-19" id="due-date-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Add an Attachment</label>
                                    <input type="file" class="form-control-file" id="formControlFile1">
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning">Add Issue</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- "edit issue" modal -->
<div id="editModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EDIT ISSUE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group modal-form">
                        <div class="col-md-4">
                            <label for="description-label">Description</label>
                            <textarea rows="5" type="text"></textarea>
                        </div>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Status
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Open</a>
                                    <a class="dropdown-item" href="#">Closed</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Assigned To
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Chen</a>
                                    <a class="dropdown-item" href="#">Jon</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="due-date-input" class="col-form-label">Due</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2011-08-19" id="due-date-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Add an Attachment</label>
                                    <input type="file" class="form-control-file" id="formControlFile1">
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>

<script type="text/javascript">
    $.ajax({
        url: "/api/dashboard/getCountByProject"
    }).done(function (result) {
        var dom = document.getElementById("graph1");
        var myChart = echarts.init(dom);
        var app = {};
        var option = {
            title: {
                text: 'Task Counts Per Project',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: 'Status',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: result,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    });
    $.ajax({
        url: "/api/dashboard/getCountByStatus"
    }).done(function (result) {
        var dom = document.getElementById("graph2");
        var myChart = echarts.init(dom);
        var app = {};
        var option = {
            title: {
                text: 'Task Counts Per Status',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: 'Status',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: result,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    });
    $.ajax({
        url: "/api/dashboard/getCountByCreator"
    }).done(function (result) {
        var dom = document.getElementById("graph3");
        var myChart = echarts.init(dom);
        var app = {};
        var option = {
            title: {
                text: 'Task Count Per Creator',
                x: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: result[0]
            },
            series:
                {
                    name: 'Task Count',
                    type: 'bar',
                    data: result[1]
                }
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    });
    $.ajax({
        url: "/api/dashboard/getCountByDue"
    }).done(function (result) {
        var dom = document.getElementById("graph4");
        var myChart = echarts.init(dom);
        var app = {};
        var option = {
            color: ['#3398DB'],
            title: {
                text: 'Tasks Count By Due Date',
                x: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'line'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: result[0],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Task Count',
                    type: 'bar',
                    barWidth: '60%',
                    data: result[1]
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    });
</script>
