<nav class="navbar navbar-default navbar-top navbar-fixed-top navbar-expand-lg">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <a id="logo-text" class="navbar-brand disabled" href="#">
            <img id="logo" src="/assets/img/construction-hat.png" width="80" height="80" class="d-inline-block align-top" alt="CONSTRUCTION HAT LOGO"> CONSTRUCTION MGMT
        </a>
        <ul class="navbar-nav ml-auto top-link">
            <li class="nav-item">
                <span id="navbar-user-name" class="navbar-text" id="username" key={{user.id}}>{{user.username}}</span>
            </li>
            <li class="nav-item">
                <a class="header-link nav-link" href="#">
                    <i class="fa fa-inbox" aria-hidden="true"></i> INBOX
                    <span class="badge badge-light">{{myTaskCount}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="header-link nav-link" href="/logout">LOG-OUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav navbar-light">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title text-center">NAVIGATION</h4>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" href="/">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" data-toggle="modal" data-target="#newIssueModal" href="#">ADD NEW ISSUE
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </li>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                                ALL ISSUES
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Issue 1</a>
                                <a class="dropdown-item" href="#">Issue 2</a>
                                <a class="dropdown-item" href="#">Issue 3</a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="header-link nav-link disabled" href="#">FILTER</a>
                            <form>
                                <div class="filter-form form-group">
                                    <label for="status-label">STATUS</label>
                                    <input type="text">
                                    <label for="ID-label">ID</label>
                                    <input type="text">
                                    <label for="Assigned-to-label">ASSIGNED TO</label>
                                    <input type="text">
                                    <button type="submit" class="btn btn-warning">SUBMIT</button>
                                </div>
                            </form>
                        </li>

                    </div>
                </div>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="page-content">

                <!-- sample table -->

                <div class="table-panel table-inverse">
                    <table class="table table-bordered table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>ID
                                </th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Assigned To</th>
                                <th>Project</th>
                                <th>Date Created</th>
                                <th>Due Date</th>
                                <th>Date Closed</th>
                                <th>Attachments</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">#333
                                    <button type="submit" data-toggle="modal" data-target="#editModal" class="btn btn-warning btn-sm edit-button">Edit</button>
                                </th>
                                <td>Broken Gasket</td>
                                <td>Open</td>
                                <td>Allan Construction Co.</td>
                                <td>Bank Tower</td>
                                <td>01/22/2018</td>
                                <td>01/01/2019</td>
                                <td>xx/xx/xxxx</td>
                                <td>
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </td>
                                <td>dummy@dummy.com</td>
                            </tr>
                            <tr>
                                <th scope="row">#962
                                    <button type="submit" data-toggle="modal" data-target="#editModal" class="btn btn-warning btn-sm edit-button">Edit</button>
                                </th>
                                <td>Patch Ceiling</td>
                                <td>Closed</td>
                                <td>Allan</td>
                                <td>Longhorn Arena</td>
                                <td>01/02/2018</td>
                                <td>01/01/2019</td>
                                <td>02/18/2018</td>
                                <td>
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </td>
                                <td>dummy@dummy.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="newIssueModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD NEW ISSUE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group modal-form">
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                        Project
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Bank Tower</a>
                                        <a class="dropdown-item" href="#">Longhorn Arena</a>
                                    </div>
                                </div>
                                <div class="">
                                    <label for="description-label">Add New Project</label>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="description-label">Description</label>
                                <textarea type="text"></textarea>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Status
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Open</a>
                                        <a class="dropdown-item" href="#">Closed</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Assigned To
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Chen</a>
                                        <a class="dropdown-item" href="#">Jon</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="due-date-input" class="col-form-label">Due</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" value="2011-08-19" id="due-date-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Add an Attachment</label>
                                        <input type="file" class="form-control-file" id="formControlFile1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning">Add Issue</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- "edit issue" modal -->
    <div id="editModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">EDIT ISSUE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group modal-form">
                            <div class="col-md-4">
                                <label for="description-label">Description</label>
                                <textarea rows="5" type="text"></textarea>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Status
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Open</a>
                                        <a class="dropdown-item" href="#">Closed</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Assigned To
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Chen</a>
                                        <a class="dropdown-item" href="#">Jon</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="due-date-input" class="col-form-label">Due</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" value="2011-08-19" id="due-date-input">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Add an Attachment</label>
                                        <input type="file" class="form-control-file" id="formControlFile1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>



<script type="text/javascript">

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
