<nav class="navbar navbar-default navbar-top navbar-dark navbar-fixed-top navbar-expand-lg">
    <div class="navbar-collapse" id="navbarSupportedContent">
        <a id= "logo-text" class="navbar-brand disabled" href="#">
            <img id="logo" src="/assets/img/construction-hat.png" width="100" height="100" class="d-inline-block align-top" alt="CONSTRUCTION HAT LOGO">
            CONSTRUCTION MGMT
        </a>       
    </div>
</nav>

<div class="container py-4">

  <div class="col-sm-6 col-sm-offset-3">

      <h1><i class="fas fa-sign-in-alt"></i> Login</h1>

      <!-- show any messages that come back with authentication-->
      {{#if message.length }}
          <div class="alert alert-danger">{{ message }}</div>
      {{/if}}

      <!-- LOGIN FORM -->
      <form action="/login" method="post">
          <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>

      <hr>

      <p>Need an account? <a href="/signup">Signup</a></p>

  </div>

</div>
